# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/backend/vendor
/backend/tmp
/backend/public/images
/backend/public/css
/backend/public/img
/backend/public/js